data/raw_reads
housekeeping.md
tools/
data/fastqc_*
data/downloads
data/trimmed_files
data/assembled_files
data/binned_files
data/checkm_outputs
data/tx_assignment/trimmed_raw_files
data/tx_assignment/*.bz2

